Import Dependancies

In [1]:
# Dependencies
from config import (gkey)
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from scipy.stats import linregress
from matplotlib import pyplot as plt
from ipywidgets.embed import embed_minimal_html

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

#import cleaned county data
county_data = pd.read_csv("Tay_Resources/state_county_w_loc.csv")

county_data["Life Exp Avg"]=((county_data["Difference in male life expectancy, 1985-2010 (years)"]+county_data["Difference in female life expectancy, 1985-2010 (years)"])/2)

In [2]:
county_geo_data = pd.read_csv("Tay_Resources/uscounties_all.csv")

In [3]:
complete_county_data = pd.merge(county_geo_data, county_data, on='Location')

In [4]:
#store all counties with negative life expectancy growth
negative_counties = complete_county_data.loc[(complete_county_data["Life Exp Avg"] < 0),:]
negative_counties

,county,state_name,Location,lat,lng,population,Unnamed: 0,State,County,"Male life expectancy, 1985 (years)",...,"Female life expectancy, 1995 (years)","Male life expectancy, 2000 (years)","Female life expectancy, 2000 (years)","Male life expectancy, 2005 (years)","Female life expectancy, 2005 (years)","Male life expectancy, 2010 (years)","Female life expectancy, 2010 (years)","Difference in male life expectancy, 1985-2010 (years)","Difference in female life expectancy, 1985-2010 (years)",Life Exp Avg
576,Etowah,Alabama,"Etowah, Alabama",34.0453,-86.0348,102748,29,Alabama,Etowah,69.0,...,76.3,70.2,76.7,70.0,76.4,70.3,75.3,1.3,-1.5,-0.10
743,Creek,Oklahoma,"Creek, Oklahoma",35.9026,-96.3708,71427,2186,Oklahoma,Creek,71.9,...,78.0,71.9,77.1,71.4,76.6,71.2,76.6,-0.7,-1.3,-1.00
814,Walker,Alabama,"Walker, Alabama",33.8033,-87.2973,64110,65,Alabama,Walker,68.0,...,76.1,67.5,75.5,67.0,73.9,68.2,75.0,0.2,-2.3,-1.05
860,Pike,Kentucky,"Pike, Kentucky",37.4691,-82.3958,59497,1108,Kentucky,Pike,67.8,...,76.1,68.6,75.6,67.8,75.6,67.5,75.0,-0.3,-0.8,-0.55
1000,Carter,Oklahoma,"Carter, Oklahoma",34.2509,-97.2858,48319,2177,Oklahoma,Carter,69.1,...,77.8,70.5,77.4,70.4,75.5,70.8,75.1,1.7,-2.1,-0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2742,Coal,Oklahoma,"Coal, Oklahoma",34.5882,-96.2978,5581,2182,Oklahoma,Coal,68.6,...,77.8,70.8,77.1,70.1,77.0,70.4,75.9,1.8,-2.5,-0.35
2761,Wheeler,Texas,"Wheeler, Texas",35.4012,-100.2698,5338,2808,Texas,Wheeler,71.5,...,78.2,73.1,78.4,72.7,77.9,72.3,78.3,0.8,-1.0,-0.10
2815,Owsley,Kentucky,"Owsley, Kentucky",37.4192,-83.6831,4442,1105,Kentucky,Owsley,67.7,...,75.8,67.8,75.8,66.5,74.8,67.5,75.3,-0.2,-1.0,-0.60
2922,Collingsworth,Texas,"Collingsworth, Texas",34.9648,-100.2700,2969,2610,Texas,Collingsworth,71.5,...,78.2,73.1,78.4,72.7,77.9,72.3,78.3,0.8,-1.0,-0.10
2940,Harmon,Oklahoma,"Harmon, Oklahoma",34.7441,-99.8462,2710,2196,Oklahoma,Harmon,69.8,...,77.6,71.0,76.7,71.2,76.9,71.6,75.4,1.8,-3.4,-0.80

In [5]:
complete_county_data = complete_county_data.loc[(complete_county_data["Life Exp Avg"] >= 3),:]

In [6]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

## Average Growth in Life Expectancy

In [7]:
# Store 'Lat' and 'Lng' into  locations 
locations = complete_county_data[["lat", "lng"]]
#life_ex = clean_weather_data['Humidity (%)']

fig1 = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=complete_county_data["Life Exp Avg"],
                                 dissipating=False, max_intensity=15,
                                 point_radius = 2)

fig1.add_layer(heat_layer)

embed_minimal_html('export.html', views=[fig1])

fig1

Figure(layout=FigureLayout(height='420px'))